
* {
    padding: 0;
    margin: 0;
}
button {

    background-color: #000;
    color: #fff;
    border: 0.2rem solid #000;
    border-radius: 2.6rem;
    height: 2rem;
    width: 50%;
}

button:hover {
    cursor: pointer;
}

#game-container {
    display: flex;
    justify-content: center;
}

.start-message {
    margin-top: 10rem;
    width: 50%;
    border: 0.6rem #000 solid;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    height: 8rem;
}

#middle-area-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.start-message p{
    text-align: center;
}

#middle-area-logo{
    font-size: 400%;
}

.middle-area-main{
    margin-top: 10rem;
    height: 8rem;
    width: 100%;
    border: 0.6rem #000 solid;
    border-radius: 1.6rem;
    animation: expandMiddle 3s ease 0s 1 normal forwards;
}

@keyframes expandMiddle {
	0% {
        height: 8rem;
        border: 0.6rem #000 solid;
		width: 50%;
	}

	100% {
        height: 3rem;
        border: 0.3rem #000 solid;
		width:100%;
	}
}
