
/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ultra&display=swap');


* {
    background-color: #FBFAF8;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #0A122A;
    font-size: 98%;
    user-select: none;
}


h1, h2 {
    font-family: 'Ultra', serif;
    color: #0A122A;

        /* letter-spacing: 0.1rem; */
}

h1 {
    font-size: 215%;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E7DECD;

}

header h1 {
    margin-top: 1rem;
    background-color: #E7DECD;
    padding-bottom: 0.5rem;
}



.stripe {
    width: 100%;
    height: 0.3rem;
}

.stripe-red{
    background-color: #8C2F39;
}
.stripe-blue{
    background-color: #0A122A;
}
.stripe-green{
    background-color: #71816D;
}

.logo {
    height: 10rem;
    margin: 2rem 0;
}

/* button {
    font-size: inherit;
    background-color: #8C2F39;
    color: #fff;
    border: 0.2rem solid #8C2F39;
    border-radius: 2.6rem;
    min-height: 2rem;
} */

.difficulty-button{
    border: 0.2rem solid #000;
    border-radius: 2.6rem;
    min-height: 2rem;
    min-width: 6rem;
    color: #E7DECD;
    margin: 0 1rem;
}

.difficulty-button::after{
    content: attr(data-difficulty);
}

.red-button{
    background-color: #8C2F39;
}

.blue-button{
    background-color: #0A122A;
}

.green-button{
    background-color: #71816D;
}

.wild-button{
    color: black;
}

#start-button {
    margin-top: 1rem;
}

.difficulty-container{
    display: none;
    background-color: inherit;
}

#difficulty {
    background-color: inherit;
}





.button-container{
    width: 80%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}


button:hover {
    cursor: pointer;
}

#game-container {
    /* border: #000 1rem solid;
    border-radius: 2.6rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.start-message {
    width:70%;
    border: 0.4rem #000 solid;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    min-height: 12rem;
}

   #middle-area{
    min-width: 30rem;
   }

#middle-area-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    text-align: center;
    background-color: inherit;
}

#middle-area-text p {
    text-align: center;
    background-color: inherit;
}

.confirmation{
    color: #FBFAF8;
    background-color: #8C2F39;
}


.start-message p{
    text-align: center;
}

#middle-area-logo{
    font-size: 400%;
}

.middle-area-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    /* margin-top: 10rem; */
    min-height: 2rem;
    min-width:20rem;
    border: 0.3rem #000 solid;
    border-radius: 1.6rem;
    animation: expandMiddle 4s ease 0s 1 normal forwards;
}

@keyframes expandMiddle {
	0% {
        /* margin-top: 50%; */
        height: 16rem;
		width: 50%;
	}
/* 
	75% {
        margin-top: 1rem;

	} */

    100% {
        height: 3rem;
		width:90%;

    }
}

#player-area{
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.player-containers{
    display: flex;
    width: 20%;
    height: 30rem;
    flex: 1 1 auto;
    flex-direction: column;
    align-self: auto;
    align-items:center;
    /* border: 1px solid black; */
}

/* Player Card */

#card {
    z-index: 10000;
    background-color: #fff;
    margin: auto;
    margin-top: 1rem;
    display:none;
    width: 14rem;
    height: 26rem;
    border-radius: 2.6rem; 
    border: 0.4rem #000 solid;
    flex-direction: column;
    /* justify-content:space-between; */
    align-items: center;
 

    /* Box Shadow */
    /*  */
    box-shadow: 10px 10px 19px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 19px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 19px 2px rgba(0,0,0,0.75);
}
#card-header {
    font-family: 'Ultra', serif;
    font-size: 110%;
    background-color: #fff;
    height: 2rem;
    text-align: center;
    margin-top: 0.2rem;
}

#card-header-container{
    margin-top: 0.5rem;
    width:80%;
    background-color: #fff;
}

#card-image {

    height: 12rem;
    width: 12rem;
    background-repeat: none;
    background-size: cover;
    background-position: middle left;
    border: #0A122A 0.2rem solid;

}

.card-stripes {
    margin-top: 0.5rem;
    width: 100%;
}

#stat-table{
    height: 8rem;
    width: 12rem;
    border-collapse: collapse;
    
}

.stat-row {
    border-bottom:#0A122A 0.1rem solid;
    border-collapse: collapse;
    background-color: #fff;
}


.active-row:hover {
    cursor: pointer;
    /* background-color: rgba(0,0,0,0.1); */
}

.active-row:hover td{
    color: #8C2F39;
}

.selected-row{
    background-color: #0A122A;
    color:#FBFAF8;
}


td {
    border: inherit;
    border-collapse: inherit;
    background-color: inherit;
    color: inherit;

}

/* Player Deck */

#player-deck {
    margin-left: 40%;
    margin-top: 1rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#player-deck:hover #card-count-container{
        display: flex;
}



#card-count-container {
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    width:80%;
}

#card-count-container > span {
    text-align: center;
    border-radius: 1.6rem;
    background-color: rgba(0,0,0,0.4);
    color: #FBFAF8;
    user-select: none;
}

/* Opponent Card */

#opponent-area{
    width: 100%;
    height: 19.5rem;
    display: flex;
    flex-direction: row;
}

.last-card-warning{
    font-size: 120%;
    display: none;
    text-align: center;
    animation: warningFadeIn 4s ease 0s 1 normal forwards;
    margin-top: 4rem;
    padding: 2rem 4rem;
    border-radius: 1.6rem; 
    border: 0.3rem #000 solid;
    background-color: #8C2F39;
    color: #FBFAF8;
}





@keyframes warningFadeIn {
	0% {
		transform: scale(0);
        opacity: 0.2;
	}

	25% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

	75% {
		opacity: 1;
	}

	100% {
        opacity: 1;
	}
}

.deckFadeOut{
    animation: deckFadeOut 2s ease-out 0s 1 normal forwards;
}

@keyframes deckFadeOut {
	0% {
		opacity: 1;
	}

    99% {
        display: flex;
    }

	100% {
        display: none;
		opacity: 0;
	}
}



.small-reverse-card{
    display: none;
    margin-top: 1rem;
    height: 18.5rem;
    width: 10rem;
    border-radius: 1.6rem; 
    border: 0.3rem #000 solid;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/logo2.svg');
    background-repeat: repeat;
    background-size: 20.65%;
    background-color: #8C2F39;
}

#opponent-header{
    font-family: 'Ultra', serif;
    margin-top: 0.6rem;
    font-size: 95%;
}

#opponent-image{
    display: none;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    height: 8rem;
    width: 8rem;
    background-repeat: none;
    background-size: cover;
    background-position: middle left;
    border: #0A122A 0.2rem solid;

}

.small-stripe {
    display: none;
    width: 100%;
    height: 0.2rem;
}

.tiny-stripe {
    display: block;
    width: 100%;
    height: 0.2rem;
}

.divider{
    margin-top: 0.3rem;
    display: none;
    height: 1rem;
    width: 85%;
    border-bottom: 1px solid black;
}



/* https://www.w3docs.com/snippets/css/how-to-create-a-blurry-text-in-css.html#:~:text=The%20first%20way%20of%20creating,a%20shadow%20to%20the%20text. */
.blur {
    filter: blur(5px);
    -webkit-filter: blur(3px);
  }

  /* End Message */

  .end-message{
    margin-bottom: 30%;
    animation: endMessageExpand 2s ease 0s 1 normal forwards;
  }

  @keyframes endMessageExpand {
	0% {

        height: 3rem;
		width: 90%;
	}

	100% {
        height: 16rem;
		width:50%;
	}
}



/* zoom experiment */

.zoom-out{
    animation: zoomOut 3s ease 0s 1 normal forwards;
}

@keyframes zoomOut {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.9);
	}
}



/* Test */

.locked{
    pointer-events: none;
}

.highlight-message{
    background-color: #8C2F39;
    color: #E7DECD;
}

/* https://stackoverflow.com/questions/43919067/make-flex-items-overlap */


#draw-pile-container{
    margin-top: 1rem;
    width: 80%;
    height: 16rem;
    /* border: 1px black solid; */
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(4rem, 4rem)) ;
}


.draw-pile-card {
    height: 12rem;
    width: 7rem;
    border-radius: 1.6rem; 
    border: 0.3rem #000 solid;
    transform: rotate(3deg);  /*makes it easier to see the overlap*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url('../images/logo2.svg');
    background-repeat: repeat;
    background-size: 20.65%;
    background-color: #8C2F39; */
}

.draw-pile-card-picture{
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
    height:5rem;
    width: 5rem;
    background-repeat: none;
    background-size: cover;
    background-position: middle left;
    border: 0.2rem black solid;
}

.draw-pile-card-header{
    white-space: nowrap;
    overflow: hidden;
    width:85%;
    font-size: 85%;
    text-align: center;
}
.tiny-stat {
    width: 85%;
    text-align: left;
    font-size: 85%;
}

#game-stats{
    display: none;
    width: 0rem;
    height:0rem;
}

/* Responsive Design */
@media screen and (max-width: 905px) {
    #player-left, #player-right, #opponent-right, #opponent-left{
        display: none;
    }

    #game-stats{
        display: none;
        width: 30rem;
        height:4rem;
        border: 1px solid black;    
    }

    #card{
        height: 14rem;
        width: 26rem;
        flex-direction: column;
        justify-content: flex-start;
    }


    .card-stripes{
        display:none;
    }


    .card-body-container{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
    }

    #card-image {
        height: 8rem;
        width: 8rem;
        margin-right: 1rem;
    }

    /* Opponent Card */
    .small-reverse-card{
        height: 10rem;
        width: 18.5rem;
        background-size: 10.5%;

    }

    .opponent-body{
        display:flex;   
        flex-direction: row;
    }


    #opponent-image{
        height: 5rem;
        width: 5rem;
    }



}
/* Very small screen */
@media screen and (max-width: 400px) {
    #card{
        /* height: 9rem; */
        height: 16.7rem;
        width: 16.7rem;
        flex-direction: column;
        justify-content: flex-start;
    }

    #card-image {
        display: none;

    }

    /* Opponent Card */



}