
/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ultra&display=swap');


* {
    background-color: #FBFAF8;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #0A122A;
    font-size: 102%;
    user-select: none;
}


h1, h2 {
    font-family: 'Ultra', serif;
    color: #0A122A;

        /* letter-spacing: 0.1rem; */
}

h1 {
    font-size: 300%;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E7DECD;

}

header h1 {
    margin-top: 1rem;
    background-color: #E7DECD;
    padding-bottom: 1rem;
}



.stripe {
    width: 100%;
    height: 0.5rem;
}

.stripe-red{
    background-color: #8C2F39;
}
.stripe-blue{
    background-color: #0A122A;
}
.stripe-green{
    background-color: #71816D;
}

.logo {
    height: 10rem;
    margin: 2rem 0;
}

button {
    font-size: inherit;
    background-color: #8C2F39;
    color: #fff;
    border: 0.2rem solid #8C2F39;
    border-radius: 2.6rem;
    min-height: 2rem;
    width: 50%;
}

#start-button {
    margin-top: 1rem;
}

button:hover {
    cursor: pointer;
}

#game-container {
    /* border: #000 1rem solid;
    border-radius: 2.6rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.start-message {

    width:70%;
    border: 0.4rem #000 solid;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    min-height: 12rem;
}

#middle-area-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
}

#middle-area-text p {
    text-align: center;
}

.confirmation{
    font-weight: bold;
    color: #8C2F39;
}


.start-message p{
    text-align: center;
}

#middle-area-logo{
    font-size: 400%;
}

.middle-area-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
    min-height: 8rem;
    width: 75%;
    border: 0.4rem #000 solid;
    border-radius: 1.6rem;
    animation: expandMiddle 3s ease 0s 1 normal forwards;
}

@keyframes expandMiddle {
	0% {
        margin-top: 10rem;
        height: 8rem;
		width: 50%;
	}

	100% {
        margin-top: 1rem;
        min-height: 3rem;
		width:90%;
	}
}

#player-area{
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.player-containers{
    display: flex;
    width: 20%;
    height: 30rem;
    flex: 1 1 auto;
    flex-direction: row;
    align-self: auto;
    justify-content: center;
    align-items:stretch;
}

/* Player Card */

#card {
    z-index: 10000;
    background-color: #fff;
    margin-top: 1rem;
    display:none;
    width: 18rem;
    height: 30rem;
    border-radius: 2.6rem; 
    border: 0.4rem #000 solid;
    flex-direction: column;
    align-items: center;
 

    /* Box Shadow */
    /*  */
    box-shadow: 10px 10px 19px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 19px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 19px 2px rgba(0,0,0,0.75);
}
#card-header {
    font-family: 'Ultra', serif;
    font-size: 110%;
    background-color: #fff;
    height: 2rem;
    text-align: center;
    width: 80%;
    margin-top: 0.2rem;
}

#card-image {

    height: 14rem;
    width: 14rem;
    background-repeat: none;
    background-size: cover;
    background-position: middle left;
    border: #0A122A 0.2rem solid;

}

.card-stripes {
    margin-top: 0.5rem;
    width: 100%;
}

#stat-table{
    height: 10rem;
    width: 16rem;
    border-collapse: collapse;
    
}

.stat-row {
    border-bottom:#0A122A 0.1rem solid;
    border-collapse: collapse;
    background-color: #fff;
}


.stat-row:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.stat-row:hover td{
    color: #FBFAF8;
}

td {
    border: inherit;
    border-collapse: inherit;
    background-color: inherit;

}

/* Player Deck */

#player-deck {
    margin-top: 1rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#player-deck:hover #card-count-container{
        display: flex;
}



#card-count-container {
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    width:80%;
}

#card-count-container > span {
    text-align: center;
    border-radius: 1.6rem;
    background-color: rgba(0,0,0,0.4);
    color: #FBFAF8;
    user-select: none;
}

/* Opponent Card */

#opponent-area{
    display: flex;
    flex-direction: column;
}

.last-card-warning{
    font-size: 120%;
    display: none;
    text-align: center;
    animation: warningFadeIn 4s ease 0s 1 normal forwards;
}



@keyframes warningFadeIn {
	0% {
		transform: scale(0);
        opacity: 0.2;
	}

	25% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

	75% {
		opacity: 1;
	}

	100% {
        opacity: 1;
	}
}



.small-reverse-card{
    display: none;
    margin-top: 1rem;
    height: 20rem;
    width: 12rem;
    border-radius: 1.6rem; 
    border: 0.4rem #000 solid;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/logo2.svg');
    background-repeat: repeat;
    background-size: 20.65%;
    background-color: #8C2F39;
}

#opponent-header{
    font-family: 'Ultra', serif;
    margin-top: 0.6rem;
}

#opponent-image{
    display: none;
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
    height: 9rem;
    width: 9rem;
    background-repeat: none;
    background-size: cover;
    background-position: middle left;
    border: #0A122A 0.2rem solid;

}

.small-stripe {
    display: none;
    width: 100%;
    height: 0.25rem;
}

.divider{
    margin-top: 0.3rem;
    display: none;
    height: 1.5rem;
    width: 100%;
    border-bottom: 1px solid black;
}

/* https://www.w3docs.com/snippets/css/how-to-create-a-blurry-text-in-css.html#:~:text=The%20first%20way%20of%20creating,a%20shadow%20to%20the%20text. */
.blur {
    filter: blur(5px);
    -webkit-filter: blur(3px);
  }


/* zoom experiment */

.zoom-out{
    animation: zoomOut 3s ease 0s 1 normal forwards;
}

@keyframes zoomOut {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.9);
	}
}



